@font-face
{
	font-family:futura-pt;
	src:url("font/futura-pt-light.otf");
}

.sub_child
{
	display:none;
	list-style-type:none;
	position:absolute;
	top:20px;
	margin:10px;
  width: 100%;
  text-align: left;
	border-radius:1px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
}
.sub_parent
{
	position:relative;
}
.sub_parent:hover .sub_child
{
	display:block;

}
.sub_parent .sub_child a
{
	color:#FFF !important;
	width:100%;
}
.sub_parent .sub_child a:hover
{
	color: #9c9999 !important;
}
.sub_parent .sub_child li
{
    padding: 35px 35px;
}
.sub_parent .sub_child li:hover
{
	background:#afafaf !important;
}

.img-header {
	top: 0px !important;
	left: 0px;
	width: 100% !important;
	height: auto !important;
}
